<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Process Center">
    <meta name="author" content="penn">

</head>
<body>
<div class="">

    <div class="card-body">
        <form action="" method="post">
            <div class="form-group" style="margin-top: 12px;">
                <label for="oldpassword">初始密码</label>
                <input type="email" id="oldpassword" name="nf-email" class="form-control" placeholder="原密码" >
                <span id="passwordHelpId" class="help-block" style="display: none;color: #f14b4b;margin-left: 190px;"></span>
            </div>
            <div class="form-group">
                <label for="newpassword">修改密码</label>
                <input type="password" id="newpassword" name="nf-password" class="form-control" placeholder="新密码" >
                <span id="passwordHelpId1" class="help-block" style="display: none;color: #f14b4b;margin-left: 190px;"></span>
            </div>
            <div class="form-group">
                <label for="newpassword1">确认密码</label>
                <input type="password" id="newpassword1" name="nf-password" class="form-control" placeholder="确认密码" >
                <span id="passwordHelpId2" class="help-block" style="display: none;color: #f14b4b;margin-left: 190px;"></span>
            </div>
        </form>
    </div>

</div>

<script>
    $('#oldpassword').change(function(){
        var reasonText = $("#oldpassword").val();
        if(reasonText==""||reasonText==null||reasonText==undefined){
            $("#passwordHelpId").html("初始密码不能为空")
            $("#passwordHelpId").show();
            return;
        }else {
            $("#passwordHelpId").hide();
        }
    });
    $('#newpassword').change(function(){
        var reasonText1 = $("#newpassword").val();
        if(reasonText1==""||reasonText1==null||reasonText1==undefined){
            $("#passwordHelpId1").html("修改密码不能为空")
            $("#passwordHelpId1").show();
            return;
        }else {
            $("#passwordHelpId1").hide();
        }
    });
    $('#newpassword1').change(function(){
        var reasonText2 = $("#newpassword1").val();
        if(reasonText2==""||reasonText2==null||reasonText2==undefined){
            $("#passwordHelpId2").html("初始密码不能为空")
            $("#passwordHelpId2").show();
            return;
        }else {
            $("#passwordHelpId2").hide();
        }
    });
</script>
</body>
</html>

